section {
    font-size: 2rem;
    text-align: justify;
}

section p {
    animation-name: fade-in;
    animation-duration: 1500ms;
    animation-timing-function: linear;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    33% {
        color: var(--raisin-black);
    }

    66% {
        color: var(--engineering-orange);
    }

    100% {
        opacity: 100%;
    }
}

#link-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-block: 2em;
}

#resume {
    color: var(--cambridge-blue);
    text-decoration: none;
    transition-property: all;
    transition-duration: 250ms;
}

#resume:hover {
    color: var(--engineering-orange);
    text-decoration: underline;
}