@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic|Space+Mono:regular,italic,700,700italic');

:root {
    --cambridge-blue: rgb(156, 197, 161);
    --african-violet: rgb(141, 128, 173);
    --caribbean-current: rgb(8, 96, 84);
    --engineering-orange: rgb(184, 12, 9);
    --raisin-black: rgb(52, 46, 55);
}

html,
body {
    all: unset;
    background: radial-gradient(farthest-corner, var(--caribbean-current), var(--raisin-black)) #342E37;    
    box-sizing: border-box;
    color: white;
    font-family: 'Space Mono', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

nav {
    background-image: linear-gradient(210deg, black, var(--raisin-black));
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;
    justify-content: space-evenly;
    list-style: none;
}

nav a {
    color: var(--cambridge-blue);
    text-decoration: none;
    /* transition: border-bottom 500ms ease-in-out; */
}

/* TODO The transition below is currently applying beneath the navbar, instead of beneath each anchor */

nav li span::before {
    color: var(--cambridge-blue);
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: var(--engineering-orange);
    bottom: 0;
    left: 0;
    transform-origin:bottom;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

nav span:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

@media screen and (max-width:600px) {
    nav {
        position: static;
        width: 100%;
    }

    nav ul {
        display: block;
    }

    nav li {
        text-align: center;
    }

}


#navbar-title {
    align-items: flex-start;
    color: var(--african-violet);
    display: block;
    font-family: 'Space Mono', monospace;
    justify-content: center;

    text-align: center;
}

/* Header Styling */

#header-container {
    background-image: url("../images/GOLD4165.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-origin: content-box;
    font-size: 1.5rem;
    padding: 5rem;
    text-align: center;
}

h1 {
    color: var(--engineering-orange);
    font-size: 3rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#h1-left {
    display: inline-block;
    position: relative;
    right: 25%;
    writing-mode: sideways-lr;
}

#h1-right {
    display: inline-block;
    position: relative;
    left: 25%;
    writing-mode: vertical-lr;
}

#h2-top {
    color: var(--cambridge-blue);
    font-family: 'Space Mono', monospace;
    position: relative;
    top: 25%;
}

/* Animations for Header Element */
@keyframes h2-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

#h2-left {
    display: inline-block;
    animation-name: h2-left;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: both;
}

@keyframes h2-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

#h2-right {
    display:inline-block;
    animation-name: h2-right;
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: both;
}

@keyframes h1-left {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s /* cubic-bezier(.25, 1, .30, 1) */ ease circle-in-center both;
  }

#h1-left {
    animation-name: h1-left;
    animation-duration: 1500ms;
    animation-delay: 100ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes h1-right {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translate(0);
    }
}

#h1-right {
    animation-name: h1-right;
    animation-duration: 1500ms;
    animation-delay: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

/* TODO FIXME IAState background image is messing up the gradient*/
#education {
    background-image: url(../images/Iowa_State_Cyclones_logo.svg.png);
    background-repeat: no-repeat, repeat;
    background-size: 35%, 100%;
    background-position: 50% 70%, 0% 0%;
}



section {
    color: white;
    min-height: 100vh;
    margin-inline: 1em;
    padding-inline: 1rem;
}

i {
    color: black;
    margin-right: 2em;
}

section {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(141, 128, 173, .1), -2px -2px 5px rgba(141, 128, 173, .1);
    background-image: linear-gradient(135deg, var(--caribbean-current), var(--african-violet));
    margin-block: 1em;
}

section h1 {
    color: var(--cambridge-blue);
    font-variant: small-caps;
    text-align: center;
}